.container {
    max-width: 1280px;
    margin: 0 auto;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 620px;
    margin: 31.5px 330px;
}

header ul li a{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-align: left;
    color: red;
}

h2 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-align: center;
    color: black;
    margin: 48px 253px 38px;
    width: 774px
}

.p1 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    color: black;
    width: 1145px;
    margin: 0 67.5px 28px;
}

.p2 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    color: black;
    width: 1145px;
    margin: 0 67.5px 84px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 191px;
    height: 51px;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-align: center;
}

.footer {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right;
    Width: 1070px;
    Height: 39px;
    margin: 99px 0 29px 105px
}

